.hero {
  background: url("/assets/images/desktop-hero-img.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .hero {
    background: url("/assets/images/mobile-hero-img.png") no-repeat center;
    background-size: cover;
  }
}

.iphone-16-pro-section {
  background: url("/assets/images/iPhone-16-pro-desktop.jpg") no-repeat center;
  background-size: 3008px 692px;
}

@media screen and (max-width: 991px) {
  .iphone-16-pro-section {
    background: url("/assets/images/iPhone-16-pro-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.iphone-16-section {
  background: url("/assets/images/iphone16-desktop.jpg") no-repeat center;
  background-size: 3008px 692px;
}

@media screen and (max-width: 991px) {
  .iphone-16-section {
    background: url("/assets/images/iphone16-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.watch-10 {
  background: url("/assets/images/hero_apple_watch_series_10_desktop-img.jpg")
    no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .watch-10 {
    background: url("/assets/images/hero_apple_watch_series_10_mobile-img.jpg")
      no-repeat center;
    background-size: cover;
  }
}

/* Hide scrollbar for a cleaner look */
#carousel::-webkit-scrollbar {
  display: none;
}

#carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#img-section::-webkit-scrollbar {
  display: none ;
}